- hosts: web
  become: yes

  tasks:

    - name: Update apt cache
      apt:
        update_cache: yes

    - name: Install Docker
      apt:
        name: docker.io
        state: present

    - name: Start Docker service
      service:
        name: docker
        state: started
        enabled: yes

    - name: Add ubuntu user to docker group
      user:
        name: ubuntu
        groups: docker
        append: yes

    - name: Install python3-pip
      apt:
        name: python3-pip
        state: present

    - name: Install Docker Python module
      pip:
        name: docker

    - name: Run Nginx container
      docker_container:
        name: webserver
        image: nginx
        state: started
        restart_policy: always
        ports:
          - "80:80"