name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: SSH and Deploy
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /home/ubuntu

            # Kill anything using port 80
            sudo fuser -k 80/tcp || true

            # Stop and remove old container
            docker stop myapp || true
            docker rm myapp || true

            # Remove old project
            rm -rf aws-devops-ca

            # Clone fresh code
            git clone https://github.com/pramodhraj05-lab/aws-devops-ca.git
            cd aws-devops-ca/app

            # Build image
            docker build -t myapp .

            # Run container
            docker run -d -p 80:80 --name myapp myapp
