name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: SSH and Deploy
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /home/ubuntu

            echo "Stopping all running containers..."
            docker stop $(docker ps -q) || true

            echo "Removing all containers..."
            docker rm $(docker ps -aq) || true

            echo "Removing old project..."
            rm -rf aws-devops-ca

            echo "Cloning fresh repo..."
            git clone https://github.com/pramodhraj05-lab/aws-devops-ca.git
            cd aws-devops-ca/app

            echo "Building Docker image..."
            docker build -t myapp .

            echo "Running container on port 80..."
            docker run -d -p 80:80 --name myapp myapp
