name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: SSH and Deploy
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /home/ubuntu
            rm -rf aws-devops-ca
            git clone https://github.com/pramodhraj05-lab/aws-devops-ca.git
            cd aws-devops-ca/app
            docker build -t myapp .
            docker stop myapp || true
            docker rm myapp || true
            docker run -d -p 80:80 --name myapp myapp
